*{
    margin: 0;padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
}
h1{
    position: relative;
    top: 9%;
    left: 0;
    color: #1b47cd;
}
.test{
    height: 100%;
    width: 100%;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    background-color: plum;
}
.formbody{
    position: absolute;
    height: 45vh;
    width: 35vw;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form{
    height: 100%;
    width: 100%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#usname,#pass{
    height: 8%;
    width: 50%;
}

.submit{
    width:3vw;
    height: 4vh;
}