/* .market-place::-webkit-scrollbar{
    display:none;
}
.market-place{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */
html,body{
    height:auto;width:100%;
}
*{
    margin: 0;padding: 0;
}
.firstPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 100%;
height: 100%;
position: relative;
/* top: 1vh; */
transition: scale 0.1s;
-webkit-transition: scale 0.1s;
-moz-transition: scale 0.1s;
-ms-transition: scale 0.1s;
-o-transition: scale 0.1s;
}
.brand-logo{
    min-width: 60px;
    min-height: 60px;
    height: 8vh;
    width: 5vw;
    padding: 10px 0 5px 0;
}
.img-bg{
    height: 100%;
    width: 100%;
    filter: blur(5px);
    z-index: 0;
    background-image: url(../images/pc-repair-bg.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* background-position: 0vw -15vh    ; */
    -webkit-filter: blur(2.5px);
}


.navbar{
    width:100vw;
    position: fixed;
    top:0;
    height: 10vh;
    min-height: 80px;
    z-index: 1;
}

.background{
    background-color: transparent;
}

.brand-name-container{
    position: relative;
    justify-self: left;
    padding:0 10px 0 10px;
    right:120px;
    
}
.nav-links-cont{
    /* left: 49vw; */
    gap: 7vw;
    position: relative;
    padding: 15px;
}
.navlink-cont{
    list-style-type: none;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.nav-links-cont>li>a{
    opacity: 0.8;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: font-size 0.1s;
    -webkit-transition: font-size 0.1s;
    -moz-transition: font-size 0.1s;
    -ms-transition: font-size 0.1s;
    -o-transition: font-size 0.1s;
}
.nav-links-cont>li>a:hover{
    opacity: 1;
    font-size:1.6rem;
}
.img:hover{
    transform: scale(1.1,1.1) ;
    -webkit-transform: scale(1.1,1.1) ;
    -moz-transform: scale(1.1,1.1) ;
    -ms-transform: scale(1.1,1.1) ;
    -o-transform: scale(1.1,1.1) ;
}
.company-Info{
   /*min-width: 520px; */
    /* max-height: 400px; */
    display: flex;
    height: 59vh;
    width: 71vw;
    background-color: #EEC9BC;
    position: absolute;
    opacity: 0.9;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    animation: fade-in 1s ease-in-out;
    -webkit-animation: fade-in 1s ease-in-out;
}

.company-text{
    display: flex;
    height: 25vh;
    width: 42vw;
    font-size: 4vw;
    font-weight: 700;
    min-width: fit-content;
    color: blue;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3.2px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;

}
.company-logo{
    background-image: url(../images/repair.png);
    width: 28%;
    height: 66%;
    /* position: absolute; */
    /* top: 21%; */
    /* left: 7%; */
    background-repeat: no-repeat;
    background-size: contain;
    animation: fade-in 1s ease-in-out;
    -webkit-animation: fade-in 1s ease-in-out;
}
.title{
    letter-spacing: 1px;
}
.text{
    text-align:justify;
}
.brand-title{
    position: relative;
    /* left: 51px; */
    /* top: 5vh; */
    padding: 15px;
    opacity: 1;
    animation-delay: 2s;
    animation: fade-in 1s ease-in-out;
    -webkit-animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
    from{
        transform: translateY(50px);
        opacity: 0;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
}
    to{
        transform: translateY(0);
        opacity: 0.9;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

.brand-tag-line{
    
    position: relative;
    /* left: 5vw; */
    /* top: 9vh; */
    font-size: 2vw;
    letter-spacing: normal;
    color: darkblue;
    animation: fade-in 1s ease-in-out;
    -webkit-animation: fade-in 1s ease-in-out;
}

.info-box{
    width: 100vw;
    height: 40vh;
    background-color: #B7BC98;
    color: black;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.info-text{
    position: relative;
    width: fit-content;
    height: fit-content;
    /* top:31%; */
}
.service-panel{
    background-color: #FFF5C5;
    height: 80%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6vh;
    padding: 7vh 0 7vh 0;
}
.service-panel>div{
    height: 70vh;
    width: 25vw;
    
    background-color: #44362C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:azure;
    gap: 0.6vh;
    font-size: 2.5vh;
    text-align: center;
    padding: 2vw;
    box-sizing:content-box;
    justify-content: space-evenly;
    animation: fade-in 1s ease-in-out;
    -webkit-animation: fade-in 1s ease-in-out;
}
.img-cont{
    width: 70%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
}
.butt-cont{
    height: 13%;
    width: 68%;
}
.launch{
    width:100%;
    height: 100%;
    background-color:#55BCCC;
    color: white;
    font-size: 1.5rem;
    border:0.3vh solid black;
    border-radius: 6vw;
    -webkit-border-radius: 6vw;
    -moz-border-radius: 6vw;
    -ms-border-radius: 6vw;
    -o-border-radius: 6vw;
}
.text{
    padding: 10px;
    opacity: 1;
}
.write-up{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    padding: 15px;
}

@media screen and (max-width:1000px) {
    .service-panel>div{
        min-width: 55vw;
    }
   
    .info-box{
        font-size: 1.3rem;
    }
   
    .company-Info{
        height: 50vh;
        align-items: stretch;
        justify-content: center;
    }
    .company-logo{
        height: 45%;
        width:55%;
    }
    .company-text{
        height: 15vh;
        font-size: 2rem;
    }
    .brand-logo{
        height: 8vh;
        width: 5vw;
        padding: 10px 0 5px 0;
    }
    .brand-tag-line{
        font-size: 1rem;
        letter-spacing: 0;
    }
        .info-box{
            font-size: 1.3rem;
        }
    
        .brand-name-container{
            right: 0px;
        }
}
@media screen and (max-width:500px){
    .service-panel>div{
        max-height: 550px;
        min-width: 320px;
    }
    .img-bg{
    background-position-x: center;
    }
    .brand-logo{
        height: 8vh;
        width: 15vw;
        padding: 10px 0 5px 0;
    }
    .company-Info{
    height: 50vh;
    padding: 20px;
    align-items: stretch;
    justify-content: center;
}
.brand-name-container{
    right: 0px;
}
.company-logo{
    height: 45%;
    width:55%;
}
.company-text{
    text-align: center;
    height: 15vh;
    font-size: 1.5rem;
}
.brand-tag-line{
    font-size: 0.8rem;
    letter-spacing: 0;
}
.nav-links-cont>li>a{
    font-size: 0.8rem;
    
}
.nav-links-cont>li>a:hover{
    font-size:1rem;
}
}

.Form-Mobile{
position:relative;
height:100%;
width: 100%;
/* top:75px; */
box-sizing: border-box;
}

.back{
    height: 50px;
    width: 45px;
    position: relative;
    /* top: 43px; */
    right: 38%;
    background: none;
    background-color: #10a8b8;
    border-radius: 50%;
    background-image: url(../images/back.png);
    background-size: contain;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: 300;
  width: 100%;
}
label{
    padding: 10px;
    width: 80%;
}
input{
    /* padding:10px; */
    padding-top: 5px;
    padding-bottom: 5px;
   
}

input:focus,
textarea:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
border: cyan 5px ;
}
input[type=submit]{
    padding: 5px;
    width: 50%;
    height: 95%;
    font: bold 1.7rem sans-serif;
    border: 0.2rem solid #040404;
    border-radius: 95vw;
    background: #10a8b8;
    background-color: #10a8b8;
    color: white;
    cursor: pointer;
    /* transform: rotate(-1.5deg);*/
}
input[type=submit]:hover,
input[type=submit]:focus{
    outline: none;
    background: #000;
    color: #fff;
}
footer{
    font-family: inherit;
    background-color: #040404;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;;
}
.mapHead{
    font-size: 2.5rem;
    justify-self: self-start;
    font-family: sans-serif;
    padding: 5px;

}
.map{
    padding: 15px;
    align-self: center;
    height: 60vh;
    width: 80vw;
}
.personal-info{
    align-self: center;
    display: flex;
    gap:10px;
    justify-content: space-around;
    height: auto;
    width: 80vw;
    flex-wrap: wrap;
}
.contact{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
}
.address,.timings{
    padding: 10px;
}
.contactHead{
    align-self: center;
}
.number{
    font-size: 1rem;
}